<a><%=	link_to 'Home', root_path()	%></a>
<a><%=	link_to 'Books', books_path()	%></a>
<p>
<strong>Title:</strong>
<%=	@book.title %>
</p>
<p>
<strong>Author:</strong>
<%=	@book.author %>
</p>
<p>
<strong>ISBN:</strong>
<%=	@book.ISBN %>
</p>
<p>
<strong>Copies:</strong>
<%=	@book.copies %>
</p>
